body {
  margin: 2px;
  padding: 0;
}

#tools {
  margin: 10px;
}

#container {
  margin: 0 auto;
  width: 98%;
}

.item {
	background-color: red;
	padding: 10px;
	margin: 5px;
  width: 22%;
}

.item p {
  word-wrap: break-word;
}

#searchInput {
  display: block;
  width: 90%;
  border: 1px solid #444;
  margin: 0 auto;
  padding: 0.4em;
  text-shadow: #888 1px 1px 1px;
  font-size: 1.3em;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}