body {
  margin: 0;
  padding: 0;
}

.whatsuptoolbar {
  padding: 15px 10px 25px 10px;
  background-color: #eee;
  border-bottom: 1px solid #555;
}

.whatsuptoolbar .imageDeleteTools {
  padding: 3px;
  position: absolute;
  right: 5%;
  top: 6px;
  height: 3.4em;
}

.whatsuptoolbar .searchInput {
  display: block;
  width: 90%;
  border: 1px solid #444;
  margin: 0 auto;
  padding: 0.4em;
  text-shadow: #888 1px 1px 1px;
  font-size: 1.3em;
  background-color: #fcfcfc;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}

.whatsupwall {
  margin: 0 auto;
  width: 98%;
}

.whatsupwall .item {
	background-color: #ddd;
  border: 1px solid #999;
	padding: 10px;
	margin: 5px;
  width: 22%;
  -webkit-border-top-left-radius: 10px;
     -moz-border-top-left-radius: 10px;
      -ms-border-top-left-radius: 10px;
       -o-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
     -moz-border-bottom-right-radius: 10px;
      -ms-border-bottom-right-radius: 10px;
       -o-border-bottom-right-radius: 10px;
          border-bottom-right-radius: 10px;
}

.whatsupwall .item.newItem {
  background-color: #F8D4DB;
}

.whatsupwall .item p {
  clear: both;
  word-wrap: break-word;
  border: 1px solid #555;
  padding: 3px;
  margin:0px;
  min-height: 56px;
  text-shadow: #aaa 1px 1px 1px;
  background-color: #eee;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      -ms-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
}

.whatsupwall .item img {
  border:1px solid #888;
  background-color: #fff;
  padding: 3px;
}

.whatsupwall .item .attached_media {
  margin-top: 5px;
  text-align: center;
}

.whatsupwall .item .media {
  width: 150px;
  height: 150px;
}

.whatsupwall .item p img {
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 3px;
}

.item .author_login {
  font-size: 0.9em;
}

.item .create_from {
  float: right;
  font-size: 0.8em;
}

.whatsupwall a {
  color: red;
  text-shadow: #aaa 1px 2px 2px;
}
.whatsupwall a, .whatsupwall a:visited {
  text-decoration: none;
}
.whatsupwall a:hover {
  text-decoration: underline;
};